<% provide(:title, "Readme") %>
<h1>Readme</h1>
<article>

  <p><strong>Lillter</strong> is a fully operational micropost board a'la <a href="https://twitter.com/" class="href">Twitter</a>.</p>
  <p> Hosted on
    <a href="https://www.heroku.com" class="href">Heroku</a>,
    production email powered by
    <a href="https://www.mailgun.com/" class="href">Mailgun</a>.
  </p>
  <p> SQlite development database, PostgreSQL production database, image hosting by Amazon AWS S3.</p>
  <p> Please <strong>log in</strong> for full functionality.</p>
  <p> Features:</p>
  <ul>
    <li>user's registration/authentication/authorization</li>
    <li>microposts functionality up to 140 characters</li>
    <li>user's follow/unfollow relationship</li>
    <li>home page feed showing followed users microposts</li>
    <li>profile pictures by <a href="https://en.gravatar.com/" class="href">Gravatar</a></li>
    <li>microposts image attachment</li>
    <li>user account activation / password reset mailer</li>
  </ul>

  <p>
    Developed by - <a href="https://github.com/LE-HU" class="href">le-hu</a>.
  </p>
  <p> The idea and implementation is based on Michael Hartl's <a href="https://railstutorial.org" class="href">https://railstutorial.org</a>.


  </article>
