<footer class="footer">
  <small>
    <p style="display: inline;"">Application developed thanks to - </p>
    <a href="https://www.railstutorial.org/">www.railstutorial.org</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
